.first {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 120vh;
    background-color: rgb(60, 59, 59);
    color: white;
    margin-left: 190px;
}
.one{
    display:inline-block;
    flex-direction: column;
    
    
}
 .pic {
    display: flex;
   align-self: center;
   margin-left: 80px;
    
}
.steaks {
    display: flex;
    flex-basis: 50%;
    gap: 10px;
    justify-content: flex-end;
    
    
}
.title {
    margin-left: 140px;
    display: inline-flex;
    justify-content: space-between;
    width: 710px;
    margin-bottom: 50px;

}
.text{
    display: flex;
    
    
}

.words{
    
    flex-basis: 40%;
    padding-left: 50px;
    
}
.para { color: gray;

}
.button{
    border: 20px;
    background-color: lightblue;
    padding: 20 20;
    border-radius: 30px;
    font-size: 15px;
}



.second {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 120vh;
    background-color: white(60, 59, 59);
    color: black;
    margin-left: 190px;
}
.header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.squares {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 20px;
}
.square-1 {
    height: 115px;
    width: 100px;
    
}
.square-2 {
    height: 115px;
    width: 100px;
    
}
.square-3 {
    height: 115px;
    width: 100px;
    
}
.square-4 {
    height: 115px;
    width: 100px;
}
.caption {
    font-size: small;
    
}


.third {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 110vh;
    background-color: #e5e7eb;
    color: black;
    margin-left: 190px;
}
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 120vh;
}
.quote1 {
    font-family:light italic ;
    font-size: 15px;
    flex-basis: 60%;
}
.credit {
    display: flex;
    font-weight:bold;
    justify-content: flex-end;
}


.fourth {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 80vh;
    background-color: rgb(62, 127, 231);
    color: white;
    margin-left: 300px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 5px;
    position: relative;
}
.four {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    font-size: smaller;
    margin-left: 70px;
    margin-top: 10px;
    
}
.call {
    margin-top: 0%;
    font-size: small;
}
.eat {
    margin-bottom: 0;
    font-weight: bold;
}
.click {
    height: 20px;
    width: 60px;
    font-size: xx-small;
    background-color: rgb(62, 127, 231);
   color: white;
    
}
.clicker {
    position: absolute;
    right: 10%;
    top: 40%;
    border: solid white 1px
}

.fifth {
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 120vh;
    background-color: rgb(60, 59, 59);
    color: white;
    margin-left: 190px;
}
.five {
    display: flex;
    justify-content: center;
    font-size: small;
}
